<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    {% extends 'main.html' %}
    {% block content %}
    {% if number > 10 %}
    <p>Number is greater than 10</p>

    {% elif number == 10 %}
    <p>Number is exactly 10</p>

    {% else %}
    <p>Number is less than 10</p>
    {% endif %}
    <hr>

    <h1>Projects</h1>

    <ul>
        {% for project in projects %}
        <li>Title: <a href="{% url 'project' project.id %}">{{project.title}}</a></li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>